/* -------------------------------------------------- */
/* ------------------- All Colors ------------------- */
/* -------------------------------------------------- */

$primary-color: #feb618;
$dark-gray: #5a5a5a;
$primary-light-color: #fdf1db;
$primary-dark-color: #efab18;
$gray-color: #757575;

$black-color: #000;
$white-color: #fff;
$white-bg-color: #eee;
$white-hover-color: #ccc;
